* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
}

.col {
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}


.shop-main {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* .container{
    display: flex;
    direction: column;
} */
.border {
    border-color: black;
    /* border-radius: .375rem; */
    border-style: solid;
    border-width: 1px;

}

.item-container {
    width: 300px;
}

.product-name,
.product-cart-name {
    font-size: large;
}

.price-container {
    padding: 0 20px;

}

.cart-product-details {
    gap: 20px;
}

.cart-item {
    gap: 20px
}

.amount-container {
    width: 20px;
    text-align: center;
}

.amount-container p {
    font-size: large;
    font-weight: bold;
}